/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

input, textarea {
  box-sizing: border-box;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

html {
  font-size: 2.6666666667vw;
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.3020833333vw;
  }
}
@media screen and (min-width: 1280px) {
  html {
    font-size: 0.5208333333vw;
  }
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  background: #fff;
  color: #000;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
  padding: 0 0 0 2rem;
}
@media screen and (min-width: 768px) {
  .header__inner {
    padding: 0 0 0 2.8rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__inner {
    height: 120px;
    padding: 0 0 0 6rem;
  }
}
.header__logo-link {
  display: block;
  padding: 10px 0;
  text-decoration: none;
}
.header__logo-img {
  display: block;
  width: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 1280px) {
  .header__logo-img {
    width: 180px;
  }
}
.header__box {
  height: 100%;
  display: flex;
}
.header__reserve-link {
  box-sizing: border-box;
  width: 100px;
  height: 100%;
  padding: 0 9px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #CE46B0;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  text-decoration: none;
  text-align: center;
}
@media screen and (min-width: 1280px) {
  .header__reserve-link {
    width: 150px;
    font-size: 25px;
  }
}
.header__reserve-link span {
  font-family: "Noto Sans JP", sans-serif;
}

.gnav {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(5, 5, 5, 0.35);
  transition: 0.4s;
}
.gnav.is-active {
  transform: translateX(-100%);
}
@media screen and (min-width: 1280px) {
  .gnav {
    width: auto;
    height: auto;
    position: static;
    background: none;
  }
}
.gnav__ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .gnav__ul {
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .gnav__ul {
    flex-direction: row;
    gap: 72px;
    margin-right: 72px;
  }
}
@media screen and (min-width: 1440px) {
  .gnav__ul {
    gap: 80px;
    margin-right: 80px;
  }
}
.gnav__li {
  list-style-type: none;
}
.gnav__link {
  display: block;
  padding: 10px 0;
  text-decoration: none;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .gnav__link {
    font-size: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .gnav__link {
    color: #000;
    font-size: 25px;
  }
}
@media screen and (min-width: 1440px) {
  .gnav__link {
    font-size: 30px;
  }
}

.hamburger-menu {
  cursor: pointer;
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  background: #741332;
  position: relative;
  z-index: 100;
}
@media screen and (min-width: 1280px) {
  .hamburger-menu {
    display: none;
  }
}
.hamburger-menu.opened .hamburger-menu__top {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.hamburger-menu.opened .hamburger-menu__middle {
  opacity: 0;
}
.hamburger-menu.opened .hamburger-menu__bottom {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
.hamburger-menu__top, .hamburger-menu__middle, .hamburger-menu__bottom {
  position: absolute;
  width: 45px;
  height: 1px;
  background: #fff;
  transform: translateY(-50%);
  transition: 0.4s;
}
.hamburger-menu__top {
  top: 35%;
}
.hamburger-menu__middle {
  top: 50%;
}
.hamburger-menu__bottom {
  top: 65%;
}

.footer .access {
  margin-bottom: 3.2rem;
}
@media screen and (min-width: 768px) {
  .footer .access {
    margin-bottom: 7.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer .access {
    margin-bottom: 24rem;
  }
}
.footer .access__ttl {
  margin-bottom: 3.2rem;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}
.footer .access__ttl::before, .footer .access__ttl::after {
  content: "";
  width: 30px;
  height: 5px;
  background: #000;
}
@media screen and (min-width: 768px) {
  .footer .access__ttl {
    margin-bottom: 7.2rem;
    font-size: 4rem;
  }
  .footer .access__ttl::before, .footer .access__ttl::after {
    width: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .footer .access__ttl {
    margin-bottom: 12rem;
    font-size: 8rem;
    gap: 4rem;
  }
}
.footer .access__map-wrap iframe {
  width: 100%;
  aspect-ratio: 375/270;
}
@media screen and (min-width: 768px) {
  .footer .access__map-wrap iframe {
    aspect-ratio: 768/270;
  }
}
@media screen and (min-width: 1280px) {
  .footer .access__map-wrap iframe {
    aspect-ratio: 1920/670;
  }
}
.footer__inner {
  padding: 0 2rem;
  margin-bottom: 4rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .footer__inner {
    padding: 0 8rem;
    margin-bottom: 4.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__inner {
    padding: 0 24rem;
    margin-bottom: 24rem;
  }
}
.footer__logo-link {
  width: 17rem;
  margin-bottom: 0.8rem;
  display: block;
  padding: 10px 0;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .footer__logo-link {
    width: 22rem;
    margin-bottom: 1.4rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo-link {
    width: 28rem;
    margin-bottom: 2rem;
  }
}
.footer__logo-img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer__info p {
  font-size: 1.4rem;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .footer__info p {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__info p {
    font-size: 3rem;
  }
}
.footer__address-wrap {
  display: flex;
  gap: 2em;
}
@media screen and (min-width: 1280px) {
  .footer__br {
    display: none;
  }
}
.footer__sns-wrap {
  position: absolute;
  top: 0;
  right: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  row-gap: 0.8rem;
  width: 9rem;
}
@media screen and (min-width: 768px) {
  .footer__sns-wrap {
    top: 50%;
    right: 8rem;
    transform: translateY(-50%);
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    row-gap: 1.6rem;
    width: 6.4rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__sns-wrap {
    right: 24rem;
    row-gap: 2.4rem;
    width: 10rem;
  }
}
.footer__list {
  width: 46%;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .footer__list {
    width: 100%;
  }
}
.footer__sns-link {
  display: block;
  text-decoration: none;
}
.footer__sns-img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer__copyright-wrap {
  background: #000;
  text-align: center;
  padding: 1.3rem 0;
}
@media screen and (min-width: 768px) {
  .footer__copyright-wrap {
    padding: 3rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copyright-wrap {
    padding: 4.2rem 0;
  }
}
.footer__copyright {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copyright {
    font-size: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__copyright-br {
    display: none;
  }
}

#top .mv {
  margin-bottom: 3.6rem;
}
@media screen and (min-width: 768px) {
  #top .mv {
    margin-bottom: 7.5rem;
  }
}
@media screen and (min-width: 1280px) {
  #top .mv {
    height: 100vh;
    margin-bottom: 24rem;
  }
}
#top .mv__img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
@media screen and (min-width: 1280px) {
  #top .mv__img {
    height: 100%;
  }
}
#top .coreheat {
  padding: 0 2rem;
  margin-bottom: 8rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  #top .coreheat {
    padding: 0;
    margin-bottom: 10.5rem;
  }
}
@media screen and (min-width: 1280px) {
  #top .coreheat {
    margin-bottom: 11.3rem;
  }
}
#top .coreheat__inner {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}
@media screen and (min-width: 768px) {
  #top .coreheat__inner {
    flex-direction: row;
    gap: 0px;
  }
}
#top .coreheat__img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  #top .coreheat__img {
    width: 50%;
  }
}
#top .coreheat__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  #top .coreheat__box {
    width: 50%;
    padding: 0 4rem;
  }
}
@media screen and (min-width: 1280px) {
  #top .coreheat__box {
    padding: 0 12rem;
  }
}
#top .coreheat__ttl {
  margin-bottom: 3.2rem;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}
#top .coreheat__ttl::before, #top .coreheat__ttl::after {
  content: "";
  width: 30px;
  height: 5px;
  background: #000;
}
@media screen and (min-width: 768px) {
  #top .coreheat__ttl {
    margin-bottom: 7.2rem;
    font-size: 4rem;
  }
  #top .coreheat__ttl::before, #top .coreheat__ttl::after {
    width: 40px;
  }
}
@media screen and (min-width: 1280px) {
  #top .coreheat__ttl {
    margin-bottom: 12rem;
    font-size: 8rem;
    gap: 4rem;
  }
}
@media screen and (min-width: 768px) {
  #top .coreheat__ttl {
    margin-bottom: 2.4rem;
  }
}
@media screen and (min-width: 1280px) {
  #top .coreheat__ttl {
    margin-bottom: 4.8rem;
  }
}
#top .coreheat__txt-wrap {
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  #top .coreheat__txt-wrap {
    margin-bottom: 4.2rem;
  }
}
@media screen and (min-width: 1280px) {
  #top .coreheat__txt-wrap {
    margin-bottom: 5rem;
  }
}
#top .coreheat__txt {
  margin-bottom: 1.4rem;
  font-size: 1.4rem;
  line-height: 1.3;
}
#top .coreheat__txt:last-of-type {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  #top .coreheat__txt {
    margin-bottom: 1.6rem;
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1280px) {
  #top .coreheat__txt {
    margin-bottom: 3rem;
    font-size: 3rem;
  }
}
#top .coreheat__btn {
  margin: 0 auto;
  width: 10rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3.9rem;
  background: #CE46B0;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  #top .coreheat__btn {
    width: 15rem;
    height: 4.5rem;
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  #top .coreheat__btn {
    width: 17rem;
    height: 6rem;
    font-size: 3rem;
  }
}
#top .menu {
  background: #741332;
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  #top .menu {
    margin-bottom: 7.4rem;
  }
}
@media screen and (min-width: 1280px) {
  #top .menu {
    margin-bottom: 12rem;
  }
}
#top .menu__inner {
  padding: 4rem 0;
}
@media screen and (min-width: 768px) {
  #top .menu__inner {
    padding: 6.4rem 0;
  }
}
@media screen and (min-width: 1280px) {
  #top .menu__inner {
    padding: 25rem 0 12rem;
  }
}
#top .menu__box {
  margin: 0 2rem 3.6rem;
  padding: 4rem 1.6rem;
  background: #fff;
  position: relative;
}
#top .menu__box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-2rem, -75%);
  width: 12.9rem;
  height: 12.9rem;
  border-radius: 50%;
  background: url(../../images/top/menu_recommend.png) center center/cover;
}
@media screen and (min-width: 768px) {
  #top .menu__box {
    margin: 0 2.8rem 7.2rem;
    padding: 12rem 2.8rem;
  }
  #top .menu__box::before {
    transform: translate(-2rem, -50%);
    width: 200px;
    height: 200px;
  }
}
@media screen and (min-width: 1280px) {
  #top .menu__box {
    margin: 0 48rem 24.2rem;
    padding: 7rem 4rem;
  }
  #top .menu__box::before {
    transform: translate(-50%, -50%);
  }
}
#top .menu__img-wrap {
  width: 100%;
  margin-bottom: 3.2rem;
}
@media screen and (min-width: 768px) {
  #top .menu__img-wrap {
    margin-bottom: 6rem;
  }
}
@media screen and (min-width: 1280px) {
  #top .menu__img-wrap {
    width: 68%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(66%, -25%);
  }
}
#top .menu__img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#top .menu__ttl {
  margin-bottom: 3.2rem;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}
#top .menu__ttl::before, #top .menu__ttl::after {
  content: "";
  width: 30px;
  height: 5px;
  background: #000;
}
@media screen and (min-width: 768px) {
  #top .menu__ttl {
    margin-bottom: 7.2rem;
    font-size: 4rem;
  }
  #top .menu__ttl::before, #top .menu__ttl::after {
    width: 40px;
  }
}
@media screen and (min-width: 1280px) {
  #top .menu__ttl {
    margin-bottom: 12rem;
    font-size: 8rem;
    gap: 4rem;
  }
}
@media screen and (min-width: 768px) {
  #top .menu__ttl {
    margin-bottom: 6rem;
  }
}
@media screen and (min-width: 1280px) {
  #top .menu__ttl {
    font-size: 6.5rem;
    margin-bottom: 8rem;
    padding-right: 15rem;
  }
}
#top .menu__ul-wrap {
  margin-bottom: 2rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  #top .menu__ul-wrap {
    margin-bottom: 5rem;
  }
}
@media screen and (min-width: 1280px) {
  #top .menu__ul-wrap {
    -moz-text-align-last: left;
         text-align-last: left;
  }
}
#top .menu__ul {
  display: inline-block;
  text-align: left;
}
#top .menu__list {
  margin-bottom: 1.4rem;
  list-style-type: none;
  font-size: 1.4rem;
  line-height: 1.3;
}
#top .menu__list:last-of-type {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  #top .menu__list {
    margin-bottom: 2.5rem;
    font-size: 2.5rem;
  }
}
#top .menu__btn {
  margin: 0 auto;
  width: 10rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3.9rem;
  background: #CE46B0;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  #top .menu__btn {
    width: 15rem;
    height: 4.5rem;
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  #top .menu__btn {
    width: 17rem;
    height: 6rem;
    font-size: 3rem;
  }
}
#top .menu__link-ul {
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
@media screen and (min-width: 768px) {
  #top .menu__link-ul {
    margin: 0 2.8rem;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
  }
}
@media screen and (min-width: 1280px) {
  #top .menu__link-ul {
    margin: 0;
  }
}
#top .menu__link-list {
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  #top .menu__link-list {
    width: 50%;
  }
}
@media screen and (min-width: 1280px) {
  #top .menu__link-list {
    width: 25%;
  }
}
#top .menu__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
#top .menu__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.26);
  z-index: 2;
}
#top .menu__link:hover .menu__link-img {
  transform: scale(1.1);
}
#top .menu__link-img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.4s ease-out;
  z-index: 1;
}
#top .menu__link-txt {
  position: absolute;
  display: block;
  color: #fff;
  font-size: 4.5rem;
  font-weight: 700;
  z-index: 3;
}
#top .instagram {
  margin-bottom: 3.2rem;
}
@media screen and (min-width: 768px) {
  #top .instagram {
    margin-bottom: 7.5rem;
  }
}
@media screen and (min-width: 1280px) {
  #top .instagram {
    margin-bottom: 24rem;
  }
}
#top .instagram__ttl {
  margin-bottom: 3.2rem;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}
#top .instagram__ttl::before, #top .instagram__ttl::after {
  content: "";
  width: 30px;
  height: 5px;
  background: #000;
}
@media screen and (min-width: 768px) {
  #top .instagram__ttl {
    margin-bottom: 7.2rem;
    font-size: 4rem;
  }
  #top .instagram__ttl::before, #top .instagram__ttl::after {
    width: 40px;
  }
}
@media screen and (min-width: 1280px) {
  #top .instagram__ttl {
    margin-bottom: 12rem;
    font-size: 8rem;
    gap: 4rem;
  }
}
#top .instagram__ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
@media screen and (min-width: 768px) {
  #top .instagram__ul {
    flex-direction: row;
    justify-content: center;
    gap: 3.6rem;
  }
}
@media screen and (min-width: 1280px) {
  #top .instagram__ul {
    gap: 6rem;
  }
}
#top .instagram__list {
  width: 20rem;
  height: 20rem;
  list-style-type: none;
  background: #f2f2f2;
}
#top .instagram__list.limit {
  display: none;
}
@media screen and (min-width: 1280px) {
  #top .instagram__list {
    width: 30rem;
    height: 30rem;
  }
  #top .instagram__list.limit {
    display: block;
  }
}
#top .gallery {
  margin-bottom: 3.2rem;
  background: #000;
}
@media screen and (min-width: 768px) {
  #top .gallery {
    margin-bottom: 7.5rem;
  }
}
@media screen and (min-width: 1280px) {
  #top .gallery {
    margin-bottom: 24rem;
  }
}
#top .gallery__ul {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  #top .gallery__ul {
    padding: 1.4rem;
  }
}
@media screen and (min-width: 1280px) {
  #top .gallery__ul {
    padding: 2.8rem;
  }
}
#top .gallery__list {
  list-style-type: none;
  width: 4.8rem;
  height: 3.9rem;
}
#top .gallery__list.bg-white {
  background: #fff;
}
@media screen and (min-width: 1280px) {
  #top .gallery__list {
    width: 12rem;
    height: 10rem;
  }
}
#top .gallery__thumb-img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  cursor: pointer;
}
#top .gallery__box {
  display: flex;
}
#top .gallery__ttl-wrap {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  background: #fff;
}
@media screen and (min-width: 768px) {
  #top .gallery__ttl-wrap {
    width: 30%;
  }
}
#top .gallery__ttl {
  font-family: "Inter", sans-serif;
  font-size: 6rem;
  font-weight: 400;
  writing-mode: vertical-rl;
}
@media screen and (min-width: 768px) {
  #top .gallery__ttl {
    margin-right: 1.6rem;
    font-size: 9rem;
  }
}
@media screen and (min-width: 1280px) {
  #top .gallery__ttl {
    margin-right: 2.4rem;
    font-size: 23rem;
  }
}
#top .gallery__pic {
  width: 80%;
  height: 20.4rem;
}
@media screen and (min-width: 768px) {
  #top .gallery__pic {
    width: 70%;
    height: 30.4rem;
  }
}
@media screen and (min-width: 1280px) {
  #top .gallery__pic {
    height: 76rem;
  }
}
#top .gallery__view-img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#top .gallery__ul-wrap {
  position: relative;
  background: rgba(229, 229, 229, 0.95);
}
#top .gallery__view-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}
@media screen and (min-width: 1280px) {
  #top .gallery__view-title {
    font-size: 5rem;
  }
}

#treatment .mv {
  margin-top: 9.3rem;
  margin-bottom: 4.8rem;
}
@media screen and (min-width: 768px) {
  #treatment .mv {
    margin-top: 11.2rem;
    margin-bottom: 10.6rem;
  }
}
@media screen and (min-width: 1280px) {
  #treatment .mv {
    margin-top: 20.2rem;
    margin-bottom: 13.9rem;
  }
}
#treatment .mv__img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#treatment .treatment-area {
  background: #741332;
  padding: 3.6rem 2.2rem 5.2rem;
  margin-bottom: 4.4rem;
}
@media screen and (min-width: 768px) {
  #treatment .treatment-area {
    padding: 9.5rem 6rem 5.8rem;
    margin-bottom: 8.6rem;
  }
}
@media screen and (min-width: 1280px) {
  #treatment .treatment-area {
    padding: 15.2rem 36rem 11.2rem;
    margin-bottom: 18.8rem;
  }
}
#treatment .treatment-area__ttl {
  margin-bottom: 3.2rem;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}
#treatment .treatment-area__ttl::before, #treatment .treatment-area__ttl::after {
  content: "";
  width: 30px;
  height: 5px;
  background: #000;
}
@media screen and (min-width: 768px) {
  #treatment .treatment-area__ttl {
    margin-bottom: 7.2rem;
    font-size: 4rem;
  }
  #treatment .treatment-area__ttl::before, #treatment .treatment-area__ttl::after {
    width: 40px;
  }
}
@media screen and (min-width: 1280px) {
  #treatment .treatment-area__ttl {
    margin-bottom: 12rem;
    font-size: 8rem;
    gap: 4rem;
  }
}
#treatment .treatment-area__ttl::before, #treatment .treatment-area__ttl::after {
  display: none;
}
@media screen and (min-width: 768px) {
  #treatment .treatment-area__ttl {
    font-size: 5rem;
  }
}
@media screen and (min-width: 768px) {
  #treatment .treatment-area__ttl {
    font-size: 8rem;
  }
}
#treatment .treatment-area__ul {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media screen and (min-width: 768px) {
  #treatment .treatment-area__ul {
    gap: 6rem;
  }
}
@media screen and (min-width: 1280px) {
  #treatment .treatment-area__ul {
    gap: 10rem;
  }
}
#treatment .treatment-area__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 3.4rem 2.3rem 5.7rem;
}
@media screen and (min-width: 768px) {
  #treatment .treatment-area__list {
    flex-direction: row;
    justify-content: space-between;
    padding: 3.5rem 3.6rem 6.7rem;
  }
}
@media screen and (min-width: 1280px) {
  #treatment .treatment-area__list {
    padding: 6.6rem 6.4rem 11.8rem;
  }
}
#treatment .treatment-area__box-left {
  margin-bottom: 3.7rem;
}
@media screen and (min-width: 768px) {
  #treatment .treatment-area__box-left {
    margin-bottom: 0;
    width: 48%;
  }
}
#treatment .treatment-area__sub-ttl {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 2rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  #treatment .treatment-area__sub-ttl {
    margin-bottom: 2.9rem;
  }
}
@media screen and (min-width: 1280px) {
  #treatment .treatment-area__sub-ttl {
    font-size: 4rem;
    margin-bottom: 5.9rem;
  }
}
#treatment .treatment-area__txt {
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 1.4rem;
}
#treatment .treatment-area__txt:last-of-type {
  margin-bottom: 0;
}
@media screen and (min-width: 1280px) {
  #treatment .treatment-area__txt {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }
}
#treatment .treatment-area__box-right {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}
#treatment .treatment-area__box-right::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.9rem;
  height: 1.9rem;
  background: url(../images/treatment/arrow.svg) center center/cover;
}
@media screen and (min-width: 768px) {
  #treatment .treatment-area__box-right {
    width: 48%;
  }
}
@media screen and (min-width: 1280px) {
  #treatment .treatment-area__box-right::before {
    width: 3.5rem;
    height: 3.5rem;
  }
}
#treatment .treatment-area__img-wrap {
  width: 40%;
  height: 24.2rem;
  background: #d9d9d9;
}
@media screen and (min-width: 1280px) {
  #treatment .treatment-area__img-wrap {
    width: 43%;
    height: 45rem;
  }
}
#treatment .treatment-area__img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}/*# sourceMappingURL=style.css.map */