@use "../global" as *;

#top {
  .mv {
    @media screen and (min-width: 1280px) {
      height: 100vh;
    }

    &__img {
      display: block;
      object-fit: cover;
      width: 100%;

      @media screen and (min-width: 1280px) {
        height: 100%;
      }
    }
  }
}
